@import 'reset';
@import 'webfonts';
@import 'bourbon/bourbon';
@import 'neat/neat';

$max-width:31em;

body {
  font-family:'concourse_t3';
  @include font-feature-settings("ss02");
}

.container {
  @include outer-container;
}

header.index {
  padding:25vh 0;
  color:white;
  background-color:#9a7ee5;
  font-size:1.7em;
  line-height:1.3em;

  ul.mobile {
    display:none;
  }

  #intro {
    @include span-columns(9);
  }

  ul.wide {
    @include shift(1);
    @include span-columns(2);
    font-style:italic;
  }
  
  p {
    margin-bottom:1em;
  }

  a {
    text-decoration:none;
    color:black;
    background-size:auto 200%;
    transition:background-position 0.5s;
    @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%));
    &:hover {
      background-position:100% 100%;
    }
  }
}

section#work {
  padding:10vh 0;
  background-color:#64D5e1;
  ul#iphone-images {
    // @include span-columns(9);
    // @include perspective(1500px);
    // @include transform-style(preserve-3d);

    li {
      display:inline-block;
      margin:0 -4em;
    }

    img {
      // @include transform(rotateY(42deg));
      // transition:transform 0.5s;
      width:15em;
      // &:hover {
      //   @include transform(rotateY(18deg));
      // }
    }
  }
}
