@import 'reset';
@import 'webfonts';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'solarized-light';

$max-width:66em;
$regular-font-size:1.9em;
$regular-line-height:1.3em;
$detail-font-size:1.25em;

$first-color:#f4696b;
$second-color:#fd9372;
$third-color:#64d5e1;
$fourth-color:#3c6997;
$blog-accent-color:$fourth-color;

body {
  font-family:'concourse_t3';
  @include font-feature-settings("ss02");
}

a {
  text-decoration:none;
  color:black;
  background-size:auto 200%;
  transition:background-position 0.5s;
  @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%));
  &:hover {
    background-position:100% 100%;
  }
}

.container {
  padding:0 1em;
  @include outer-container;
}

header.index {
  padding:20vh 0;
  color:white;
  background-color:$first-color;

  #intro {
    font-size:$regular-font-size;
    line-height:$regular-line-height;
    @include span-columns(9);
    @media(max-width:650px) {
      @include span-columns(12);
    }
  }

  p {
    margin-bottom:1em;
  }

}

section#work {
  padding:10vh 0;
  background-color:$second-color;
  color:white;

  p {
    margin-bottom:1em;
  }

  #worktext {
    @include span-columns(5);
    font-size:$regular-font-size;
    line-height:$regular-line-height;
  }

  ul#iphone-images {
    font-size:$regular-font-size;
    @include span-columns(7);
    @include perspective(1500px);
    @include transform-style(preserve-3d);
    box-sizing:border-box;

    li {
      display:inline-block;
      width:7.4em;
      margin-right:-2em;

      &:not(:first-child) {
      margin-left:-2em;
    }
  }
    
    img {
      @include transform(rotateY(30deg));
      transition:transform 0.5s;
      width:100%;
      &:hover {
        @include transform(rotateY(18deg));
        @include transform(translateZ(100px));
      }
    }
  }
}

section#recent-posts {
  background-color:$third-color;
  color:white;
  padding:7vh 0;

  & > .container > h1 {
    font-size:$regular-font-size;
    @include span-columns(12);
    padding-bottom:2em;
    font-weight:bold;
  }

  .recent-post {
    @include span-columns(4);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    min-height:270px;

    h1 {
      font-size:$detail-font-size;
      font-weight:bold;
      padding-bottom:1em;
      
      a {
        color:white;
        transition:color 0.3s, background-position 0.5s;
        &:hover {
          color:black;
        }
      }
    }

    p {
      font-size:$detail-font-size;
      line-height:1.2em;
      padding-bottom:1em;
    }

    p.read-more {
      font-size:$detail-font-size;
      display:block;
      line-height:1.7em;
    }
  }
}

footer {
  padding:8vh 0;
  background-color:$fourth-color;
  color:white;

  section {
    font-size:$detail-font-size;
    @include span-columns(2);
    
    &#tags {
      @include span-columns(6);
    }
    
    h1 {
      line-height:2em;
      padding-bottom:0.5em;
    }

    li {
      line-height:1.7em;
    }
  }
}

#blog-wrapper {
  background-size:100% 12em;
  padding-top:6em;
  background-repeat:no-repeat, repeat-x;
  @include background-image(linear-gradient(to bottom, $first-color 0%, $first-color 25%, $second-color 25%, $second-color 50%, $third-color 50%, $third-color 75%, $fourth-color 75%, $fourth-color 100%));

  a {
    text-decoration:none;
    color:$blog-accent-color;
    background-size:auto 200%;
    transition:background-position 0.5s, color 0.3s;
    @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, $blog-accent-color 50%, $blog-accent-color 100%));
    &:hover {
      background-position:100% 100%;
      color:white;
    }
  }

  p {
    font-size:$detail-font-size;
    padding-top:$regular-line-height;
    line-height:$regular-line-height;

    &.date {
      padding:0.2em 0;
      font-style:italic;
    }
  }

  h1:first-child {
    font-size:6em;
    font-weight:bold;
    padding-top:1.8em;
    margin-bottom:0.3em;
    @include shift(1);
  }

  h2#tag-title {
    font-size:3em;
    font-weight:bold;
    padding-top:3.6em;
    margin-bottom:0.6em;
    @include shift(1);
  }

  .single-article-listing {
    @include shift(1);
    @include span-columns(10);
    padding:2.4em 0;
    border-bottom:1px dashed $blog-accent-color;

    h2 {
      font-size:$regular-font-size;
    }

    &:last-child {
      border-bottom:none;
    }
  }

  #individual-post {
    h1 {
      @include shift(1);
      @include span-columns(10);
      font-size:$regular-font-size;
    }

    code {
      font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
      font-size:0.88em;
      background-color:#fdf6e3;
      color:#586e75;
      padding:0.2em;
    }
    
    p.date {
      @include shift(1);
      @include span-columns(10);
    }

    #post-body {
      margin-bottom:3.4em;
      @include shift(2);
      @include span-columns(8);
      p {
        line-height:1.45em;
      }

      ul {
        line-height:1.45em;
        font-size:$detail-font-size;
        list-style-type:square;
        list-style-position:outside;
        padding-top:$regular-line-height;
      }

      h2 {
        font-size:$regular-font-size;
      }

      div.highlight {
        font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
        @include shift(-2);
        padding:1.2em 0;
        margin-top:1.2em;

        .lineno {
          padding:0 1em;
        }
      }
    }
  }
}
