@import 'reset';
@import 'webfonts';
@import 'bourbon/bourbon';
@import 'neat/neat';

$max-width:66em;
$regular-font-size:1.9em;
$regular-line-height:1.3em;
$detail-font-size:1.25em;

$first-color:#f4696b;
$second-color:#64D5e1;
$third-color:#fd9372;
$fourth-color:#f6d860;

body {
  font-family:'concourse_t3';
  @include font-feature-settings("ss02");
}

a {
  text-decoration:none;
  color:black;
  background-size:auto 200%;
  transition:background-position 0.5s;
  @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%));
  &:hover {
    background-position:100% 100%;
  }
}

.container {
  @include outer-container;
}

header.index {
  padding:20vh 0;
  color:white;
  background-color:$first-color;

  #intro {
    font-size:$regular-font-size;
    line-height:$regular-line-height;
    @include span-columns(9);
  }

  p {
    margin-bottom:1em;
  }

}

section#work {
  padding:10vh 0;
  background-color:$second-color;
  color:white;

  #worktext {
    @include span-columns(5);
    font-size:$regular-font-size;
    line-height:$regular-line-height;
  }

  ul#iphone-images {
    font-size:$regular-font-size;
    @include span-columns(7);
    @include perspective(1500px);
    @include transform-style(preserve-3d);
    box-sizing:border-box;

    li {
      display:inline-block;
      width:7.4em;
      margin-right:-2em;

      &:not(:first-child) {
      margin-left:-2em;
    }
  }
    
    img {
      @include transform(rotateY(30deg));
      transition:transform 0.5s;
      width:100%;
      &:hover {
        @include transform(rotateY(18deg));
        @include transform(translateZ(100px));
      }
    }
  }
}

section#recent-posts {
  background-color:$third-color;
  color:white;
  padding:7vh 0;

  & > .container > h1 {
    font-size:$regular-font-size;
    @include span-columns(12);
    padding-bottom:2em;
    font-weight:bold;
  }

  .recent-post {
    @include span-columns(4);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    min-height:270px;

    h1 {
      font-size:$regular-font-size;
      font-weight:bold;
      padding-bottom:1em;
    }

    p {
      font-size:$detail-font-size;
      line-height:1.2em;
      padding-bottom:1em;
    }

    a {
      font-size:$detail-font-size;
      line-height:1.7em;
    }
  }
}

footer {
  padding:8vh 0;
  background-color:$fourth-color;
  color:white;

  section {
    font-size:$detail-font-size;
    @include span-columns(2);
    
    h1 {
      line-height:2em;
    }

    li {
      line-height:2em;
    }
  }
}

