<header class="index">
  <div class="container">
    <div id="intro">
      <p>Hi. I'm Kevin McGladdery.</p>
      <p>I'm an independent iOS developer in California. I also have experience with watchOS, tvOS, and macOS. I love Swift, Ruby, all sort of LISPs, and Haskell, pretty much in that order.</p>
      <p>I <a href="/blog">blog</a> about Swift, logic, Vim, and programming in general.</p>
      <p>I take ideas and I turn them into beautiful, engaging iOS apps. I'd love to work with you on
      your idea. <a href="#">Contact me</a> and let's make something great.
    </div>
  </div>
</header>

<section id="work">
  <div class="container">
    <ul id="iphone-images">
      <li><img src="images/filmstock_iphone.png" alt=""></li>
      <li><img src="images/earthquakr_iphone.png" alt=""></li>
      <li><img src="images/neos_iphone.png" alt=""></li>
      <li><img src="images/feedings_iphone.png" alt=""></li>
    </ul>
    <div id="worktext">
      <p>My Work adfkjh kaljhsdfkjadhf jkdsjkfhjdfh j jkalhjshdfjsj sjd a jsdh sjh js hsjd jsk sjhdjjshd jajshdj ajshdjsj shsdjdj jsjs jsjdh jsdjdh jshjfgjdgjsdfj jsdjsdjs sd.</p><p>And whatnot.</p>
    </div>
  </div>
</section>

<section id="recent-posts">
  <div class="container">
    <h1>Recent Posts</h1>
    <% blog.articles[0..2].each do |article| %>
    <div class="recent-post">
      <div class="post-content">
        <h1><%= article.title %></h1>
        <p><%= strip_tags article.summary %></p>
      </div>
      <%= link_to "Read more -&gt;", article %>
    </div>
  <% end %>
  </div>
</section>
<footer>
  <div class="container">
    <section id="codelinks">
      <h1>Code</h1>
      <ul>
        <li><a href="#">Github</a></li>
        <li><a href="#">Cocoapods</a></li>
        <li><a href="#">Rubygems</a></li>
      </ul>
    </section>
    <section id="Social">
      <h1>Social</h1>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Flickr</a></li>
        <li><a href="#">Soundcloud</a></li>
      </ul>
    </section>
  </div>
</footer>
