<header class="index">
  <div class="container">
    <ul class="mobile">
      <li><a href="#">Work</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div id="intro">
      <p>Hi. I'm Kevin McGladdery.</p>
      <p>I'm an independent iOS developer in California.</p>
      <p>I take ideas and I turn them into beautiful, engaging iOS apps. I'd love to work with you on
      your idea. <a href="#">Contact me</a> and let's make something great.
    </div>
    <ul class="wide">
      <li><a href="#">Work</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</header>
