<div class="container">
  <div id="home">
    <h1>Kevin McGladdery</h1>
    <div id="links">
      <ol>
        <li><a href="https://itunes.apple.com/us/podcast/building-programmers/id1149043456">podcast</a></li>
        <li><a href="https://github.com/runkmc">Github</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://twitter.com/run_kmc">Twitter</a></li>
        <li><a href="http://appstore.com/kevinmcgladdery">AppStore</a></li>
        <li><a href="https://www.flickr.com/photos/mcgladdery/">Flickr</a></li>
        <li><a href="http://linkedin.com/in/kevinmcgladdery">LinkedIn</a></li>
        <li><a href="http://kevinmcgladdery.com">Choral Music</a></li>
        <li><a href="https://soundcloud.com/run_kmc">Soundcloud</a></li>
        <li><a href="http://kmcg.software">Software</a></li>
      </ol>
    </div>
  </div>
</div>
