<header class="index">
  <div class="container">
    <div id="intro">
      <p>Hi. I'm Kevin McGladdery.</p>
      <p>I'm an independent iOS developer in California. I also have experience with watchOS, tvOS, and macOS. I love Swift, Ruby and all sorts of LISPs.</p>
      <p>I <a href="/blog">blog</a> about Swift, Vim, logic, and programming in general.</p>
      <p>I'd love to work with you on your idea. <a href="#">Contact me</a> and let's make something great.</p>
    </div>
  </div>
</header>

<section id="work">
  <div class="container">
    <ul id="iphone-images">
      <li><img src="images/filmstock_iphone.png" alt=""></li>
      <li><img src="images/earthquakr_iphone.png" alt=""></li>
      <li><img src="images/neos_iphone.png" alt=""></li>
      <li><img src="images/feedings_iphone.png" alt=""></li>
    </ul>
    <div id="worktext">
      <p>I take ideas and I turn them into beautiful, engaging iOS apps. You can see all of my personal apps in the <a href="http://appstore.com/kevinmcgladdery">Appstore</a> and on <a href="https://github.com/runkmc">Github</a>.</p>
      <p>I've also written multiple open source libraries in Swift and Ruby. You can see them on <a href="https://rubygems.org/profiles/runkmc">Rubygems</a>, <a href="https://cocoapods.org/owners/9401">Cocoapods</a>, and on <a href="https://github.com/runkmc">Github</a>.</p>
    </div>
  </div>
</section>

<section id="recent-posts">
  <div class="container">
    <h1>Recent Posts</h1>
    <% blog.articles[0..2].each do |article| %>
    <div class="recent-post">
      <div class="post-content">
        <h1><%= link_to article.title, article %></h1>
        <p><%= strip_tags article.summary %></p>
      </div>
      <p class="read-more"><%= link_to "Read more -&gt;", article %></p>
    </div>
  <% end %>
  </div>
</section>
